@use "../../assets/sass/_variables.scss" as *;

.card{
    background-color: $color-orange;
    width: 12rem;
    border:2px solid white;
    border-radius: 10px;
    padding: 20px;


    .card_content{
        font-size: 1.5rem;
        color: $color-white;
        text-align: center;
        &-name{
            font-size: 2.5rem;
            color: $color-black;
        }
    }

    
}