@use "./assets/sass/variables" as *;
@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC&display=swap');

body{
    margin: 0;
    padding: 0;
    background-color: $color-dark;
    font-family: 'Cormorant SC', serif;
}
main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2rem;
}

h1{
    text-align: center;
    font-size: 3rem;
    color: $color-orange;
}